DSA Questions in Python

In [ ]:
# You are given two floating numbers a and b. You need to output a/b and decimal precision of a/b upto 3 places after decimal point use round function

a= float(input("Enter First Number"))
b= float(input("Enter second Number"))
print(round(a/b, 3))

Enter First Number45
Enter second Number56
0.804

In [ ]:
# Swap Number in python

a = int(input("Enter a = "))
b = int(input("Enter b = "))
temp = a
a = b
b = temp
print("After swapping, a = ", a)
print("After swapping, b = ", b)

Enter a = 45
Enter b = 67
After swapping, a =  67
After swapping, b =  45

Sum of N Numbers

In [1]:
# Input: N = 10 Output:  55 Explanation: 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55.

n = int(input("Enter the value of n:"))
sum = 0
sum=(n*(n+1))/2          #n=10 , 10*(10+1)/2 = 110/2 = 15
print(sum)

Enter the value of n:10
55.0

In [ ]:
# Bitwise operator in python

a = 10
b = 5
print(a & b)        # AND operator
print(a | b)        # OR operator
print(a ^ b)        # XOR operator
print(~a)          # NOT operator
print(a << 2)       # left shift operator     0000 1010         (0010 1000)   4
print(a >> 2)       # right shift operator

0
15
15
-11
40
2

Day Before N days   Given two integers d and n. Where d is the day, out of 7 days of the week, d varies from 0 to 6 as shown below.

0 - Sunday

1 - Monday

2 - Tuesday

3 - Wednesday

4 - Thursday

5 - Friday

6 - Saturday

In [ ]:

n = int(input("Enter the value of n:"))
d = int(input("Enter the number of Days:"))
x=n%7
ans=d-x
if ans>=0:
  print(ans)
else:
  print(ans+7)

Enter the value of n:5
Enter the number of Days:3
5

Last Digits of Number

In [ ]:
n=int(input("Enter Number: "))
if n<0:
  n=(-1)*n
  print(n%10)
else:
  print(n%10)

Enter Number: 12
2

In [ ]:
# AP term program

a=int(input("Enter the first term of AP:"))
d=int(input("Enter the common difference of AP:"))
n=int(input("Enter the number of terms in AP:"))
print("The AP is:")
for i in range(1,n+1):
    term=a+(i-1)*d
    print(term,end=" ")

Enter the first term of AP:5
Enter the common difference of AP:2
Enter the number of terms in AP:7
The AP is:
5 7 9 11 13 15 17

Count Number of Digits

In [ ]:
#  count digits

n = int(input("Enter a number: "))
count = 0
while n > 0:
  n = n // 10
  count += 1
print(count)

Enter a number: 5674
4

In [2]:
#Table of n

i=1
n=5
while(i<=10):
  print(n*i)
  i=i+1

5
10
15
20
25
30
35
40
45
50

In [3]:
def equilibrium_point(nums):
  """
  Finds the equilibrium point in nums.

  Args:
    nums: A list of numbers.

  Returns:
    The index of the equilibrium point, or -1 if there is no equilibrium point.
  """

  left_sum = 0
  for i in range(len(nums)):
    left_sum += nums[i]

  right_sum = 0
  for i in range(len(nums) - 1, -1, -1):
    right_sum += nums[i]

    if left_sum == right_sum:
      return i

  return -1

nums = [-7, 1, 5, 2, -4, 3, 0]

equilibrium_index = equilibrium_point(nums)

if equilibrium_index != -1:
  print("The equilibrium point is", equilibrium_index)
else:
  print("There is no equilibrium point")

The equilibrium point is 6